@charset "utf-8";
/* CSS Document */

/* reset css */
* {
	margin: 0; 
	padding: 0; 
	font-family: 'NanumSquare','돋움',sans-serif; 
	box-sizing: border-box;
}

html, body { 
	width: 100%; 
	height: 100% 
}

/*body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button, input, span {
	margin: 0; 
	padding: 0; 
}*/

img,fieldset { 
	border: 0; 
} 
fieldset legend {
	display: none;
}

body,h1,h2,h3,h4,input,textarea,button,select,option { 
	font-size: 14px; 
} 

ol,il,li { 
	list-style: none; 
}

img { 
	vertical-align: top; 
	backface-visibility: hidden;
	transform: translateZ(0);
    image-rendering: -webkit-optimize-contrast;
} 
.Hide, .Hide * {
    position: absolute!important;
    top: -1000px!important;
    left: -1000px!important;
    width: 0!important;
    height: 0!important;
    font-size: 0!important;
    line-height: 0!important;
    text-indent: -1000em!important;
    overflow: hidden!important;
}

a { 
	text-decoration: none;
}

a:hover, a:focus { 
	text-decoration: none;
}

table { 
	border-collapse: collapse;
} 


/* header */


div#header {

}

div#header ul {
	padding : 12px 16px;
	margin: 0 auto;
}

div#header ul li {
	display: inline;
}
div#header ul li, div#header ul li img {
	vertical-align: middle;
}

.login_container {
	padding: 12px 16px;
}

.login_title_area .login_ver {
	text-align: right;
	color: grey;
}


.login_title_area .logo{
	display: block;
    margin: 20px auto;
    text-align: center;
    border-bottom: 1px solid #e4e8eb;
    padding-bottom: 40px;
}
.login_title_area .logo img {
	max-width: 35%;
}

.login_title_area .login_liner {
	text-indent: -9999px;
	border: 1px solid grey;
}

.login_title_area .login_title_area {
	position: relative;
}

.login_title_area .login_title {
    position: absolute;
    background-color: #fff;
    display: inline-block;
    padding: 5px 25px;
    top: -45px;
    left: 50%;
    /* text-align: center; */
    /* margin: 0 auto; */
    /* text-align: center; */
    /* z-index: 100; */
    /* width: 100%; */
    transform: translate(-50%, 50%);
}

.login_title_area hr {
	position: relative;
    top: 21px;
}
.login_area {
	text-align: center;
}



.login_area .login_input {
	position: relative;
}

.login_area .login_id {
	margin-top: 75px;
}
.login_area .login_pw {
	margin: 29px 0;
}

.login_area .login_input input:is(:focus) {
	background-color: #fff;
	border: 1px solid #F67B53;
	outline: none;
}
.login_area .login_input input:is(:focus) ~ .icon_id:before {
    background: url(../img/ic_id_active.png);
    background-size: cover;
}

.login_area .login_input input:is(:focus) ~ .icon_pw:before {
    background: url(../img/ic_pw_active.png);
    background-size: cover;
}
/* .login_area .login_input input:is(:focus, :valid) ~ .icon_pw:before*/

.login_area .login_input .input_text {
	position: relative;
	display: table;
    table-layout: fixed;
	background-color: #EFF1F3;
	border: none;
    border-radius: 3px;
    width: 100%;
    padding: 10px 10px 10px 43px;
	font-size: 1.1em;
    color: #242424;
	transition: all 0.3s ease;
}

.login_area .login_input .icon_id, .login_area .login_input .icon_pw {
	position: absolute;
    top: 30%;
    /* transform: translateY(-50%); */
    left: 16px;
}
.login_area .login_input .icon_pw {
    top: 30%;
}
.login_area .login_input .icon_id:before, .login_area .login_input .icon_pw:before {
	content: "";
    background: url(../img/ic_id.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    /* object-fit: cover; */
    background-size: cover;
    background-position: center;
	speak: none;
    display: inline-block;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
	-webkit-font-smoothing: antialiased;
}


.login_area .login_input .icon_pw:before {
    background: url(../img/ic_pw.png);
    background-size: cover;
}
input[type="password"]:focus {
	font-family: Dotum, '돋움', Arial, Helvetica, sans-serif;
}






/*
.login_area .login_input .icon_delete {
	position: absolute;
    top: 13px;
    right: 8px;
	display: none;
}

.login_area .login_input .icon_delete a img {
    width: 11px;
    height: 11px;
	display: inline-block;
}
.show {display:block;}
*/









.login_check_area {
	text-align: center;
}

.login_check_area .check_keep {
	margin-right: 57px;
}
.login_check_area .login_check {
	position: relative;
	display: inline-block;
	padding-left: 27px;
}
.login_check label {
	cursor: pointer;
}
.login_check .keep_text {
	color: #777;
}
.login_check .keep_text::before {
	content: '';
    position: absolute;
    top: -2px;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
	background-image: url(../img/ic_unchecked.png);
    background-size: 20px;
}
.login_check input:checked+.keep_text::before {
	background-image: url(../img/ic_check.png);
	background-size: cover;
}
.login_check_area .login_check span {
	padding-left: 3px;
}

.login_check_area .login_check input[type=checkbox] {
	display: none; 
	opacity: 0;
}



.button {
	border: none;
	position: relative;
}
.button a {
	color: #fff;
	width: 100%;
	height: 65px;
	background-color: #F15A29;
	border: none;
	position: fixed;
    bottom: 0;
	font-size: 1.3em;
	line-height: 65px;
}

.button:hover, .button:active {
  background-color: #F67B53;
}





div#header .logo img {
	width: 100px;
	height: auto;
}

div#header ul li.title {
	font-size: 18px;
	color : #242424;
	font-weight: bold;
	margin-left: 8px;
}

div#header ul li.mainmenu {
	float: right; 
	line-height: 2.3;
}

div#header ul li.mainmenu img {
	width: 24px;
	height: auto;
}



/* gnb */
div#gnb {
	/* width: 100%; */
    /* position: relative; */
    /* clear: both; */
    /* position: relative;*/
}
div#gnb ul {
    border-bottom: 1px solid #f15a29;
	padding: 0 16px;
}
div#gnb ul li, div #listHeader ul li, div.item_list ol li ul li {
	display: inline;
}
/*div#gnb ul li.tabsOn a {
	background-color: #f15a29;
}*/

/*div#gnb ul li.tab a.active {
	color: #fff;
	background-color: #f15a29;
}
div#gnb ul li#tabF a {
	background-color: none;
}*/

div#gnb ul li a {
	text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #626c76;
    padding: 9px 16px;
    border-radius: 10px 10px 0 0;
	box-sizing: border-box;
    line-height: 38px;
}
div#gnb ul li a.active, div#gnb ul li a.hover {
	color: #fff;
	background-color: #f15a29;
}

.content {
	/*display: none;*/
	background-color: #f1f1f1;
}

div#item #listHeader {
	clear: both;
}
div.content #listHeader ul {
	padding: 5px 16px;
}
div.content #listHeader ul li.list_sch {
	float: right;
}
div.content #listHeader ul li.list_sch input {
	border: 1px solid #cfcfcf;
    line-height: 30px;
    border-radius: 3px;
    padding: 1px 10px;
    outline: none;
}
div.content #listHeader ul li.list_sch input:active, div.content #listHeader ul li.list_sch input:focus, .info_text input:active, .info_text input:focus, .multi-select-button:active, .multi-select-button:focus {
	border: 1px solid #f15a29;
}
.info_text input {
	border: 1px solid #cfcfcf;
    line-height: 2;
    border-radius: 3px;
	padding: 5px 10px;
	outline: none;
}

div.content #listHeader ul li.list_total {
	line-height: 2.5;
}
div.content #listHeader ul li.list_total div, div.content #listHeader ul li.list_sch div, div.item_list ol li div ul li {
	display: inline-block;
}
div.content #listHeader ul li.list_sch div span a img {
	width: 24px;
	vertical-align: middle;
}
div#item .item_list ol > li {
	/*margin-bottom: 5px;*/
	border-bottom: 5px solid #f1f1f1;
}
div.item_list ol li div, .item_add_area {
	background-color: #fff;
	padding: 12px 16px;
}

div#item .item_list ol li div ul li.item_name {
	min-width: 50%;
}
div#item .item_list ol li div ul li.item_gp {
	min-width: 25%;
}
div#item .item_list ol li div ul li.item_price {
	min-width: 23%;
	text-align: right;
}


.item_add_area {
	
}

.item_add_area input[type="text"], .multi-select-container span {
	width: 100%;
}
.select_dropdown {
	
}

.info_price input[type="text"] {
	text-align: right;
}

.input_margin {
	margin-bottom: 18px;
}
strong {
	padding-bottom: 5px;
    display: inline-block;
}
strong span {
	font-weight: normal;
}


/*
.item_add_area input type["text"], .multi-select-button {
	padding: 0 !important;
}*/




/* item add multi select css */
.itemGP_select_wrap {
    /*margin-bottom: 2em;*/
}

.itemGP_select_wrap > label, .optionGP_select_wrap > label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.position-menu-within {
    width: 18em;
    height: 15em;
    background: #eee;
    overflow: auto;
    padding: 2em 0 0 2em;
}

.multi-select-container--open .multi-select-modal {
    display: block;
}
.multi-select-container {
   /* display: inline-block;*/
    position: relative;
}

.multi-select-menu {
    position: absolute;
    left: 0;
    top: 1.5em;
    z-index: 1;
    /*float: left;*/
    min-width: 100%;
    background: #fff;
    margin: 1em 0;
    border: 1px solid #aaa;
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);*/
    display: none;
}

.multi-select-menuitem {
    display: block;
    /*font-size: 0.875em;*/
    padding: 0.6em 1em 0.6em 30px;
    white-space: nowrap;
}

.multi-select-menuitem--titled:before {
    display: block;
    font-weight: bold;
    content: attr(data-group-title);
    margin: 0 0 0.25em -20px;
}

.multi-select-menuitem--titledsr:before {
    display: block;
    font-weight: bold;
    content: attr(data-group-title);
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.multi-select-menuitem + .multi-select-menuitem {
    padding-top: 0;
}

.multi-select-presets {
    border-bottom: 1px solid #ddd;
}

.multi-select-menuitem input {
    position: absolute;
    margin-top: 0.25em;
    margin-left: -20px;
}

.multi-select-button {
    display: inline-block;
    /*font-size: 0.875em;
    padding: 0.2em 0.6em;
    max-width: 16em;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*vertical-align: -0.5em;*/
    border: 1px solid #cfcfcf;
    line-height: 2;
    border-radius: 3px;
    padding: 5px 10px;
/*    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);*/
    cursor: default;
	position: relative;
}

.multi-select-button:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.4em 0.4em 0 0.4em;
    border-color: #999 transparent transparent transparent;
    margin-left: 0.4em;
    vertical-align: 0.1em;
	position: absolute;
	right: 12px;
	top: 16px;
}

.multi-select-container--open .multi-select-menu {
    display: block;
}

.multi-select-container--open .multi-select-button:after {
    border-width: 0 0.4em 0.4em 0.4em;
    border-color: transparent transparent #999 transparent;
}

.multi-select-container--positioned .multi-select-menu {
    /* Avoid border/padding on menu messing with JavaScript width calculation */
    box-sizing: border-box;
}

.multi-select-container--positioned .multi-select-menu label {
    /* Allow labels to line wrap when menu is artificially narrowed */
    white-space: normal;
}

.item_radio_wrap {
	position: relative;
}
.item_radio_wrap .info_text input {
	position: absolute; 
	left: -1000em;
}
.item_radio_wrap .info_text label {
	position: relative; 
	cursor: pointer;
	margin-right: 14px;
}
.item_radio_wrap .info_text label:before {
	content: ""; 
	display: inline-block; 
	border: 2px solid #929292; 
	border-radius: 50%; 
	width: 15px; 
	height: 15px; 
	vertical-align: middle;
	margin-right: 5px;
}
.item_radio_wrap .info_text input:checked + label:after {
	content: ""; 
	position: absolute; 
	left: 5px; 
	top: 4px; 
	background: #626c76; 
	border-radius: 50%; 
	width: 9px; 
	height: 9px;
}

.opt_btn_wrap {
	display: inline-block;
}
.opt_btn_wrap ul:last-child {
	margin-right: 14px;
}
.opt_btn_wrap ul li {
	display: inline;
}

.opt_btn_wrap ul li a.opt_btn {
	background: #cecece;
    border-radius: 3px;
    padding: 1px 10px;
	color: #242424;
	height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.opt_btn_wrap ul li a.btn_on, .opt_btn_wrap ul li a.opt_btn:active, .opt_btn_wrap ul li a.opt_btn:focus, .opt_btn_wrap ul li a.opt_btn:hover {
	background: #626c76;
	color: #fff;
}

/* // item add multi select css END */







div#floatBtn {
	position: fixed;
    bottom: 30px;
    right: 30px;
}
div#floatBtn span a img {
	width: 45px;
}